#search{
    margin: 1% 5%;
    height: 50px;
    font-size: medium;
    width: 89%;
    border-style: none;
    box-shadow: 1px 1px 2px 0px hsl(180, 8%, 52%);
    border-radius: 50px;
    padding: 20px;
}
input[type=search]:focus{
    outline: none;
}

@media (max-width: 700px){
    #headerBackground{
        background-image: url('/bg-header-mobile.svg'); 
    }
    
}
.searchDiv{
    width: 100vw;
    margin: 0;
    padding: 0;
    height: fit-content;
}
