
#headerBackground{
    background-image: url('./images/bg-header-desktop.svg');
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
    background-position: center;
    height: 13vh;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;

    @media (max-width: 700px){
            background-image: url('./images/bg-header-mobile.svg'); 
    }

}
body{
    margin: 0;
    width: 100vw;
    height: 100%;
}
